extends ./layout/index

block contenido
    if(errores)
        each error in errores
            .alert.col.alert-danger.text-center=error.mensaje

    form(action="/clientes" method="POST")
        .mb-2.form-group
            label(for="nombreCliente", class="form-label") Nombre
            input#nombreCliente(type="text", class="form-control", placeholder="Nombre(s)", name="nombreCliente", value=nombreCliente)

        .mb-2.form-group
            label(for="apellidoCliente", class="form-label") Apellidos
            input#apellidoCliente(type="text", class="form-control", placeholder="Apellidos", name="apellidoCliente", value=apellidoCliente)
        .mb-2.form-group
            label(for="docCliente", class="form-label") Documento
            input#docCliente(type="text", class="form-control", placeholder="Doc. de indentidad", name="docCliente", value=docCliente)
        .mb-2.form-group
            label(for="correoCliente", class="form-label") Correo
            input#correoCliente(type="email", class="form-control", placeholder="correo@correo.com", name="correoCliente", value=correoCliente)
        .mb-2.form-group
            label(for="direccionCliente", class="form-label") Direccion
            input#direccionCliente(type="text", class="form-control",  placeholder="Direccion", name="direccionCliente", value=direccionCliente)
        .mb-2.form-group
            label(for="telefonoCliente", class="form-label") Telefono
            input#telefonoCliente(type="text", class="form-control", placeholder="Telefono", name="telefonoCliente", value=telefonoCliente)
  
        button(type="submit", class="btn btn-primary") Guardar